.urlb:hover {
	cursor: pointer;
}
body {
	background-image: url(https://cdn3.codesign.qq.com/screens/2023/11/09/xDP3923q4EY411jwlKp09/ygpo55fia4flyjxw/c738d796-83b2-4761-b320-e57b23de9e85.jpg);
}
button {
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
